@using Lbk.MobileApp.Domain.Resources
@using Lbk.MobileApp.Web.Helpers
@model Lbk.MobileApp.Web.Models.GenericListViewModel<Lbk.MobileApp.Model.Video, Lbk.MobileApp.Web.Models.VideoSearchFormModel>
@{
    ViewBag.Title = "Video - [List Videos]";
}
<h3>
    Video</h3>
<h2>
    List Videos</h2>
<p>
    @Html.ImageActionLink(Url.Content("~/Content/Images/add.png"), "", "Create", null, new { title = Messages.VideoCreateNew, style = "image-icon" })
    @Html.ActionLink(Messages.VideoCreateNew, "Create")
</p>
<div id="mainSearch">
    @Html.Partial("_search", Model)
</div>
