@{
    ViewBag.Title = "About Us";
}
<h2>
    About</h2>
<p>
    Management from content for mobile applications.
</p>
<h5>
    Version: @ViewData["AppSemanticVersion"]<br />
    <small>Fileversion: @ViewData["AppVersion"]
    </small>
   
</h5>
<div>@Html.ActionLink("Generate Password", "GeneratePassword", "Account", null, new { style = "color:#ffffff;" })</div>
