@using Lbk.MobileApp.Domain.Resources
@using Lbk.MobileApp.Web.Helpers
@model Lbk.MobileApp.Core.PagedDataList<Lbk.MobileApp.Model.Category>
<script type="text/javascript">
    $(function () {
        $('#selectPageSize select').change(function () {
            $.post('@Url.Action("List", new { MenuId = (object)ViewBag.MenuId })', { PageSize: $(this).val() }, function (result) { $('#mainSearch').html(result); });
        });
    });
</script>
@{
    var grid = new WebGrid(canPage: true, canSort: true, rowsPerPage: Model.PageSize, ajaxUpdateContainerId: "grid");
    grid.Bind(Model.Items, rowCount: Model.TotalItemCount, autoSortAndPage: false);
    @grid.GetHtml(htmlAttributes: new { id = "grid", width = "100%" },
             headerStyle: "webgrid-header",
                        alternatingRowStyle: "webgrid-alternating-row",
                        rowStyle: "webgrid-row-style",
                        selectedRowStyle: "webgrid-selected-row",
                columns: grid.Columns(
            ////grid.Column("Id"),
                            grid.Column("Title", header: Messages.CategoryTitleLabelText),
                            grid.Column("Description", header: Messages.CategoryDescriptionLabelText),
                            grid.Column(Messages.Commands, style: "webgrid-commands", format: (item) =>
                            {
                                return new MvcHtmlString(string.Join("  ",
                                    Html.ImageActionLink(Url.Content("~/Content/Images/detail.png"), "", "Detail", new { id = item.Id, MenuId = (object)ViewBag.MenuId }, new { title = Messages.Details, style = "image-icon" }),
                                    Html.ImageActionLink(Url.Content("~/Content/Images/edit.png"), "", "Edit", new { id = item.Id, MenuId = (object)ViewBag.MenuId }, new { title = Messages.Edit, style = "image-icon" }),
                                    Html.ImageActionLink(Url.Content("~/Content/Images/delete.png"), "", "Delete", new { id = item.Id, MenuId = (object)ViewBag.MenuId }, new { title = Messages.Delete, style = "image-icon" })));
                            }, canSort: false)),
                            mode: WebGridPagerModes.FirstLast | WebGridPagerModes.Numeric | WebGridPagerModes.NextPrevious)
}
<div id="selectPageSize">
    @Html.DropDownListFor(x => x.PageSize, new SelectList(new[] { "10", "20", "30", "40", "50", "100" }))
</div>
