<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="unity"
                 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
      <section name="entityFramework"
              type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>

    <unity configSource="unity.debug.config" />

    <connectionStrings>
        <!--<add name="MobileAppDbContext"
             connectionString="Data Source=|DataDirectory|LbkMobileAppData.sdf"
             providerName="System.Data.SqlServerCe.4.0" />-->
        <!--<add name="ApplicationServices"
             connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
             providerName="System.Data.SqlClient" />-->

      <add name="MobileAppDbContext" 
           providerName="System.Data.SqlClient" 
           connectionString="Server=.\SQLEXPRESS;Database=Lbk.MobileApp2;Trusted_Connection=true;"/>
      <!--<add name="MobileAppDbContext" 
          connectionString="Password=paslbkmobile;User ID=lbkmobile;Initial Catalog=Lbk.MobileApp;Data Source=localhost\SQLEXPRESS;" 
          providerName="System.Data.SqlClient"/>-->
     
    </connectionStrings>

    <appSettings>
        <add key="webpages:Version"
             value="1.0.0.0" />
        <add key="ClientValidationEnabled"
             value="true" />
        <add key="UnobtrusiveJavaScriptEnabled"
             value="true" />
      <add key="PictureServerBasePath"
            value="D:\wwwroot\lbkmobile.loewenbraeukeller.com\media\pictures\galery\" />
      <add key="PictureHttpBasePath"
            value="http://lbkmobile.loewenbraeukeller.com/media/pictures/galery/" />

      <add key="EventThumbnailServerBasePath"
           value="D:\wwwroot\lbkmobile.loewenbraeukeller.com\media\pictures\events\" />
      <add key="EventThumbnailHttpBasePath"
           value="http://lbkmobile.loewenbraeukeller.com/media/pictures/events/" />

      <add key="SpeisekarteServerBasePath"
          value="D:\wwwroot\lbkmobile.loewenbraeukeller.com\media\speisekarte\" />
      <add key="SpeisekarteHttpBasePath"
           value="http://lbkmobile.loewenbraeukeller.com/media/speisekarte/" />

      
    </appSettings>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
      <contexts>
        <context type="Lbk.MobileApp.Data.SqlCe.MobileAppDbContext, Lbk.MobileApp.Data.SqlCe">
          <!--<databaseInitializer type="System.Data.Entity.DropCreateDatabaseAlways`1[[Lbk.MobileApp.Data.SqlCe.MobileAppDbContext, Lbk.MobileApp.Data.SqlCe]], EntityFramework" />-->
          <databaseInitializer type="Lbk.MobileApp.Data.SqlCe.Initializers.CreateIfNotExistsAndMigrateSqlInitializer`1[[Lbk.MobileApp.Data.SqlCe.MobileAppDbContext, Lbk.MobileApp.Data.SqlCe]], Lbk.MobileApp.Data.SqlCe" />
        </context>
      </contexts>
  </entityFramework>


  <system.web>
        <globalization culture="auto"
                       enableClientBasedCulture="true"
                       requestEncoding="UTF-8"
                       responseEncoding="UTF-8"
                       uiCulture="auto" />

        <compilation debug="true"
                     targetFramework="4.0">
            <assemblies>
                <!--<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <!--<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

      <authentication mode="Forms">
        <forms loginUrl="~/Account/LogOn" defaultUrl="~/Home/Index" timeout="2880" >
          <credentials passwordFormat="SHA1" >
            <user name="lbk" password="97816A66A4B0A2927190232848322684F4F79480"/>
            <user name="Danesitz" password="E3995159E3B04F36978AACC3C6AE1D04C3D4A366"/> 
            <user name="lbkintern" password="F044EB566525D376D53D838D5E57AF77B1581962"/>
          </credentials>
        </forms>
      </authentication>

      <!--<authorization>
        <deny users="?"/>
      </authorization>-->

        <membership>
            <providers>
                <clear />
                <add name="AspNetSqlMembershipProvider"
                     applicationName="/"
                     connectionStringName="ApplicationServices"
                     enablePasswordReset="true"
                     enablePasswordRetrieval="false"
                     maxInvalidPasswordAttempts="5"
                     minRequiredNonalphanumericCharacters="0"
                     minRequiredPasswordLength="6"
                     passwordAttemptWindow="10"
                     requiresQuestionAndAnswer="false"
                     requiresUniqueEmail="false"
                     type="System.Web.Security.SqlMembershipProvider" />
            </providers>
        </membership>

        <profile>
            <providers>
                <clear />
                <add name="AspNetSqlProfileProvider"
                     applicationName="/"
                     connectionStringName="ApplicationServices"
                     type="System.Web.Profile.SqlProfileProvider" />
            </providers>
        </profile>

        <roleManager enabled="false">
            <providers>
                <clear />
                <add name="AspNetSqlRoleProvider"
                     applicationName="/"
                     connectionStringName="ApplicationServices"
                     type="System.Web.Security.SqlRoleProvider" />
                <add name="AspNetWindowsTokenRoleProvider"
                     applicationName="/"
                     type="System.Web.Security.WindowsTokenRoleProvider" />
            </providers>
        </roleManager>

        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <!--<add namespace="System.Web.Routing" />-->
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
    </system.web>
    <location path="Content">
      <system.web>
        <authorization>
          <allow users="?"/>
        </authorization>
      </system.web>
    </location>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc"
                                  publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect newVersion="3.0.0.0"
                                 oldVersion="1.0.0.0-2.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>