@model Lbk.MobileApp.Web.Models.GenericListViewModel<Lbk.MobileApp.Domain.Models.StatisticsWeekFlatModel, Lbk.MobileApp.Web.Models.StatisticsFormModel>
@{
    ViewBag.Title = "Statistik";
}
<h3>Statistik</h3>
<h2>Auswertung nach Kalenderwochen</h2>

<div id="mainSearch">
    @Html.Partial(MVC.Statistics.Views._search, Model.SearchItem)
</div>

<div id="resultGrid">
    @{
        if (this.Model.Results.Count > 0)
        {
            @Html.Partial(MVC.Statistics.Views._grid, Model.Results)
        }
    }
</div>

<script src="@Url.Content(Links.Scripts.jquery_fileDownload_js)" type="text/javascript"></script>
<script src="@Url.Content(Links.Scripts.statistics.list_js)" type="text/javascript"></script>
    

