@model Lbk.MobileApp.Core.PagedDataList<Lbk.MobileApp.Model.Food>
<script type="text/javascript">
    $(function () {
        $('#selectPageSize select').change(function () {
            $.post('@Url.Action("List")', { PageSize: $(this).val() }, function (result) { $('#mainSearch').html(result); });
        });
    });
</script>
@{
    var grid = new WebGrid(canPage: true, canSort: true, rowsPerPage: Model.PageSize, ajaxUpdateContainerId: "grid");
    grid.Bind(Model.Items, rowCount: Model.TotalItemCount, autoSortAndPage: false);
    @grid.GetHtml(htmlAttributes: new { id = "grid", width = "100%" },
                columns: grid.Columns(
                            ////grid.Column("Id"),
                            grid.Column("Category", canSort: false, format: item => item.Category != null ? new MvcHtmlString(item.Category.Description) : new MvcHtmlString("none")),
                            grid.Column("Title"),
                            grid.Column("Description"),
                            grid.Column("Price"),
                            grid.Column("SortOrder"),
                            grid.Column("Commands", format: (item) =>
                            {
                                return new MvcHtmlString(string.Join(" | ",
                                    Html.ActionLink("Details", "Detail", new { id = item.Id }),
                                    Html.ActionLink("Edit", "Edit", new { id = item.Id }),
                                    Html.ActionLink("Delete", "Delete", new { id = item.Id })));
                            }, canSort: false)),
                            mode: WebGridPagerModes.FirstLast | WebGridPagerModes.Numeric | WebGridPagerModes.NextPrevious)
}
<div id="selectPageSize">
    @Html.DropDownListFor(x => x.PageSize, new SelectList(new[] { "10", "20", "30", "40", "50", "100" }))
</div>
